.Container
{
	width:80%;
	background-color: red;
	height:750px;
	margin-left: 150px;
	background-image: url("images/backgroundwall.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;	
}
.First
{
	
	padding:200px;
	text-align: center;
	color:white;
	background-color: blue;
	height:100px;
	width:400px;
		display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("images/backgroundwall.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position: absolute; 
	border-radius: 10px;
	border-style: solid;
	border-color: white;
	font-family: cursive;
}
input[type="submit"]:hover{
	background-color: green; 
}
.first1
{
		width:300px;
	height:40px;
	border-radius: 6px; 
}
.lo
{
		width:300px;
	height:40px;
	border-radius: 6px; 
}
.code
{
	width: 300px;
	height: 40px;
	border-radius: 6px; 
}

